In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
PATH = 'data/hh_vacancies.json'
df = pd.read_json(PATH)
df

,id,premium,name,department,has_test,response_letter_required,area,salary,type,address,...,working_time_intervals,working_time_modes,accept_temporary,professional_roles,accept_incomplete_resumes,experience,employment,adv_response_url,is_adv_vacancy,adv_context
0,112388836,False,Junior Data Scientist (Стажер),None,False,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...",None,"{'id': 'open', 'name': 'Открытая'}",None,...,[],[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN
1,112331201,False,Data scientist,None,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': None, 'to': 260000, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'улица Дурова', '...",...,[],[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN
2,112715627,False,ML-разработчик / Data Scientist (Intern / Juni...,None,False,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Санкт-Петербург', 'street': 'Малый п...",...,[],[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN
3,112611475,False,Data Scientist / Machine Learning Engineer / А...,None,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': '3-я Песчаная ули...",...,[],[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN
4,112578650,False,Data scientist,None,False,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Санкт-Петербург', 'street': 'набереж...",...,[],[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,106073007,False,Senior Data Scientist (GigaCode),"{'id': '3529-3529-prof', 'name': 'Сбер для экс...",False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}",None,...,[],[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN
434,106528974,False,Senior Python разработчик,None,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'Поклонная улица'...",...,[],[],False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'moreThan6', 'name': 'Более 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN
435,110976109,False,Devops инженер на ML проект,None,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'Поклонная улица'...",...,[],[],False,"[{'id': '160', 'name': 'DevOps-инженер'}]",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN
436,95077714,False,Data Scientist (команда Поиска),"{'id': 'hh-1455-ds', 'name': 'HeadHunter::Anal...",False,True,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'улица Годовикова...",...,[],[],False,"[{'id': '10', 'name': 'Аналитик'}]",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN
437,107198493,False,Senior Data Scientist в b2c направление,"{'id': 'hh-1455-ds', 'name': 'HeadHunter::Anal...",False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'улица Годовикова...",...,[],[],False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN

In [35]:
df = df.dropna(axis=1)
df

,id,premium,name,has_test,response_letter_required,area,type,published_at,created_at,archived,...,schedule,working_days,working_time_intervals,working_time_modes,accept_temporary,professional_roles,accept_incomplete_resumes,experience,employment,is_adv_vacancy
0,112388836,False,Junior Data Scientist (Стажер),False,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...","{'id': 'open', 'name': 'Открытая'}",2024-12-03 09:26:53+03:00,2024-12-03 09:26:53+03:00,False,...,"{'id': 'fullDay', 'name': 'Полный день'}",[],[],[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'full', 'name': 'Полная занятость'}",False
1,112331201,False,Data scientist,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'id': 'open', 'name': 'Открытая'}",2024-12-02 13:19:13+03:00,2024-12-02 13:19:13+03:00,False,...,"{'id': 'fullDay', 'name': 'Полный день'}",[],[],[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",False
2,112715627,False,ML-разработчик / Data Scientist (Intern / Juni...,False,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...","{'id': 'open', 'name': 'Открытая'}",2024-12-06 18:57:04+03:00,2024-12-06 18:57:04+03:00,False,...,"{'id': 'fullDay', 'name': 'Полный день'}",[],[],[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",False
3,112611475,False,Data Scientist / Machine Learning Engineer / А...,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'id': 'open', 'name': 'Открытая'}",2024-12-05 15:12:46+03:00,2024-12-05 15:12:46+03:00,False,...,"{'id': 'fullDay', 'name': 'Полный день'}",[],[],[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",False
4,112578650,False,Data scientist,False,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...","{'id': 'open', 'name': 'Открытая'}",2024-12-05 10:51:37+03:00,2024-12-05 10:51:37+03:00,False,...,"{'id': 'fullDay', 'name': 'Полный день'}",[],[],[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,106073007,False,Senior Data Scientist (GigaCode),False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'id': 'open', 'name': 'Открытая'}",2024-12-08 12:05:50+03:00,2024-12-08 12:05:50+03:00,False,...,"{'id': 'fullDay', 'name': 'Полный день'}",[],[],[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",False
434,106528974,False,Senior Python разработчик,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'id': 'open', 'name': 'Открытая'}",2024-11-08 17:25:03+03:00,2024-11-08 17:25:03+03:00,False,...,"{'id': 'fullDay', 'name': 'Полный день'}",[],[],[],False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'moreThan6', 'name': 'Более 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",False
435,110976109,False,Devops инженер на ML проект,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'id': 'open', 'name': 'Открытая'}",2024-11-14 13:59:35+03:00,2024-11-14 13:59:35+03:00,False,...,"{'id': 'remote', 'name': 'Удаленная работа'}",[],[],[],False,"[{'id': '160', 'name': 'DevOps-инженер'}]",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",False
436,95077714,False,Data Scientist (команда Поиска),False,True,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'id': 'open', 'name': 'Открытая'}",2024-12-03 13:29:15+03:00,2024-12-03 13:29:15+03:00,False,...,"{'id': 'fullDay', 'name': 'Полный день'}",[],[],[],False,"[{'id': '10', 'name': 'Аналитик'}]",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",False
437,107198493,False,Senior Data Scientist в b2c направление,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'id': 'open', 'name': 'Открытая'}",2024-12-03 13:29:20+03:00,2024-12-03 13:29:20+03:00,False,...,"{'id': 'flexible', 'name': 'Гибкий график'}",[],[],[],False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",False

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         438 non-null    int64
 1   premium                    438 non-null    bool
 2   name                       438 non-null    object
 3   has_test                   438 non-null    bool
 4   response_letter_required   438 non-null    bool
 5   area                       438 non-null    object
 6   type                       438 non-null    object
 7   published_at               438 non-null    datetime64[ns, UTC+03:00]
 8   created_at                 438 non-null    datetime64[ns, UTC+03:00]
 9   archived                   438 non-null    bool
 10  apply_alternate_url        438 non-null    object
 11  url                        438 non-null    object
 12  alternate_url              438 non-null    object
 13  relations                  438 non-null    object
 14  employer                   438 non-null    object
 15  snippet                    438 non-null    object
 16  schedule                   438 non-null    object
 17  working_days               438 non-null    object
 18  working_time_intervals     438 non-null    object
 19  working_time_modes         438 non-null    object
 20  accept_temporary           438 non-null    bool
 21  professional_roles         438 non-null    object
 22  accept_incomplete_resumes  438 non-null    bool
 23  experience                 438 non-null    object
 24  employment                 438 non-null    object
 25  is_adv_vacancy             438 non-null    bool
dtypes: bool(7), datetime64[ns, UTC+03:00](2), int64(1), object(16)
memory usage: 68.1+ KB

In [37]:
df = df.drop(columns=
             ['type', 'premium', 'published_at', 'created_at', 'archived', 
              'apply_alternate_url', 'url', 'alternate_url', 'working_days', 
              'working_time_intervals', 'working_time_modes', 'is_adv_vacancy', 
              'relations', 'employer', 'id']
             )
df

,name,has_test,response_letter_required,area,snippet,schedule,accept_temporary,professional_roles,accept_incomplete_resumes,experience,employment
0,Junior Data Scientist (Стажер),False,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...",{'requirement': 'Иметь навыки программирования...,"{'id': 'fullDay', 'name': 'Полный день'}",False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'full', 'name': 'Полная занятость'}"
1,Data scientist,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'requirement': '...2c бизнесе (медицина, банк...","{'id': 'fullDay', 'name': 'Полный день'}",False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}"
2,ML-разработчик / Data Scientist (Intern / Juni...,False,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...",{'requirement': 'Знание теории нейронных сетей...,"{'id': 'fullDay', 'name': 'Полный день'}",False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}"
3,Data Scientist / Machine Learning Engineer / А...,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",{'requirement': 'Глубокое понимание статистиче...,"{'id': 'fullDay', 'name': 'Полный день'}",False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}"
4,Data scientist,False,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...",{'requirement': 'Высшее-техническое образовани...,"{'id': 'fullDay', 'name': 'Полный день'}",False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}"
...,...,...,...,...,...,...,...,...,...,...,...
433,Senior Data Scientist (GigaCode),False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",{'requirement': 'Хорошие теоретические знания ...,"{'id': 'fullDay', 'name': 'Полный день'}",False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}"
434,Senior Python разработчик,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",{'requirement': 'Опыт коммерческой разработки ...,"{'id': 'fullDay', 'name': 'Полный день'}",False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'moreThan6', 'name': 'Более 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}"
435,Devops инженер на ML проект,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",{'requirement': 'Опыт работы DevOps от 3х лет....,"{'id': 'remote', 'name': 'Удаленная работа'}",False,"[{'id': '160', 'name': 'DevOps-инженер'}]",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}"
436,Data Scientist (команда Поиска),False,True,"{'id': '1', 'name': 'Москва', 'url': 'https://...",{'requirement': 'Опыт реализации и применения ...,"{'id': 'fullDay', 'name': 'Полный день'}",False,"[{'id': '10', 'name': 'Аналитик'}]",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}"
437,Senior Data Scientist в b2c направление,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",{'requirement': 'Имеешь опыт реализации и прим...,"{'id': 'flexible', 'name': 'Гибкий график'}",False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}"